.body {
    margin: 0;
    font-family: Open Sans;
}

.banner {
    background-image: url(cropped-view-of-hands-typing-on-laptop.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }

.container {
    width: 900px;
    margin: auto;
}

.banner h1 {
    color: white;
}
// .header {
//     align-items: center;
//     background: #2d394b;
//     display: flex;
//     height: 60px;
//     left: 0;
//     padding: 10px 70px 10px 30px;
//     position: -webkit-sticky;
//     position: sticky;
//     right: 0;
//     top: 0;
// }
// .html *, .html ::after, .html ::before {
//     box-sizing: inherit;
// }
// .html-body {
//     -moz-osx-font-smoothing: grayscale;
//     color: #243238;
//     font-size: 16px;
//     line-height: 1.5;
// }

// elemento {
//     width: 779px;
// }

.btn-primary {
    display: inline-block;
    background-color: blue;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}

.btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
}
  
.btn-cancel {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #6a757e;
    transition: background 0.3s ease;
}


.text-center {
    text-align: center;
}

