.body {
    margin: 0;
    font-family: Open Sans;
    height: 100%;
}

.banner {
    background-image: url(cropped-view-of-hands-typing-on-laptop.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }

.container {
    // width: 80%;
    // margin: auto;
    // height: 80%;
    // width: 100%;
    height: 100%;
    // position: absolute;
    // display: flex;
    // flex-direction: column;

    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    // margin-right: auto;
    // margin-left: auto;

}

.banner h1 {
    color: white;
}
// .header {
//     align-items: center;
//     background: #2d394b;
//     display: flex;
//     height: 60px;
//     left: 0;
//     padding: 10px 70px 10px 30px;
//     position: -webkit-sticky;
//     position: sticky;
//     right: 0;
//     top: 0;
// }
// .html *, .html ::after, .html ::before {
//     box-sizing: inherit;
// }
// .html-body {
//     -moz-osx-font-smoothing: grayscale;
//     color: #243238;
//     font-size: 16px;
//     line-height: 1.5;
// }

// elemento {
//     width: 779px;
// }




.text-center {
    text-align: center;
}



