<footer class="container-fluid py-5">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 ">
              <i class="fab fa-facebook-square"></i> Facebook
            </div>
            <div class="col-md-6 ">
              <i class="fab fa-instagram-square"></i> Instagram
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="row">
            <div class="col-md-6 px-4">
                <i class="fas fa-envelope me-3"></i> info@doctorpc.com
            </div>
            <div class="col-md-6 ">
              <div class="logo-part">
                <i class="fas fa-phone me-3"></i> + 569 91234678
              </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
</footer>

