<h2 class="text-center"><strong>Nuestros Servicios</strong> </h2><br>

<!-- solo imagen primera fila-->
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1633001250/drpc/3_jukei8.png)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1633001250/drpc/2_ipd2ui.png)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1633001434/drpc/1_qtzsdc.png)">
  </div>
</div>

<!-- solo text segunda fila-->
<div class="cards">
  <div>
    <h4 class="text-center"><strong>Mantenciones</strong></h4>
    <p class="font-weight-light">Entregamos servicios de mantención y revisión de equipos PC's, Notebooks, Impresoras, Redes Locales.</p>
  </div>
  <div>
    <h4 class="text-center"><strong>Servicio Técnico</strong></h4>
    <p class="font-weight-light">Ofrecemos Servicio Técnico a <strong>PYMES</strong> y clientes particulares.</p>
  </div>
  <div>
    <h4 class="text-center"><strong>Software</strong></h4>
    <p class="font-weight-light">Instalación, configuración de software, formateos de equipos, respaldos de información.</p>
  </div>
</div>
<br>

<!-- solo imagen tercera fila-->
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1633001434/drpc/2_s0rqef.png)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1633001251/drpc/1_flehj9.png)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1633001434/drpc/3_ndxhhe.png)">
  </div>
</div>

<!-- solo text cuarta fila-->
<div class="cards">
  <div>
    <h4 class="text-center"><strong>Reparaciones</strong></h4>
    <p class="font-weight-light">Reparación o cambios de piezas de todas las marcas de Notebooks, Pc's, Impresoras y de cableados en casos de redes alámbricas.</p>
  </div>
  <div>
    <h4 class="text-center"><strong>Redes LAN</strong></h4>
    <p class="font-weight-light">Diseño e instalación y configuración de redes locales <strong>LAN</strong> alámbricas e inalámbricas.</p>
   </div>
   <div>
    <h4 class="text-center"><strong>Asesorias TIC</strong></h4>
    <p class="font-weight-light">Asistencia y soporte en el desarrollo de innovaciones tecnológicas en <strong>el ámbito empresarial y particular.</strong></p>
   </div>
</div>
<br>
<h3 class="text-center">
<%= button_to "Agenda tu servicio aquí", new_appointment_path, class:"btn btn-primary", :method => :get %>
</h3>
<br>
