<h2 class="text-center"><strong>Nuestros Servicios</strong> </h2><br>

<!-- solo imagen primera fila-->
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/mantencion.jpg)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/serviciotecnico.jpg)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/software.jpg)">
  </div>
</div>

<!-- solo text segunda fila-->
<div class="cards">
  <div>
    <h4 class="text-center"><strong>Mantenciones</strong></h4>
    <p>Entregamos servicios de mantención y revisión de equipos PC's, Notebooks, Impresoras, Redes Locales.</p>
  </div>
  <div>
    <h4 class="text-center"><strong>Servicio Técnico</strong></h4>
    <p>Ofrecemos Servicio Técnico a <strong>PYMES</strong> y clientes particulares.</p>
  </div>
  <div>
    <h4 class="text-center"><strong>Software</strong></h4>
    <p>Instalación, configuración de software, formateos de equipos, respaldos de información.</p>
  </div>
</div>
<br>

<!-- solo imagen tercera fila-->
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/reparacion1.jpg)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/lan.jpg)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/asesoria.jpg)">
  </div>
</div>

<!-- solo text cuarta fila-->
<div class="cards">
  <div>
    <h4 class="text-center"><strong>Reparaciones</strong></h4>
    <p>Reparación o cambios de piezas de todas las marcas de Notebooks, Pc's, Impresoras y de cableados en casos de redes alámbricas.</p>
  </div>
  <div>
    <h4 class="text-center"><strong>Redes LAN</strong></h4>
    <p>Diseño e instalación y configuración de redes locales <strong>LAN</strong> alámbricas e inalámbricas.</p>
   </div>
   <div>
    <h4 class="text-center"><strong>Asesorias TIC</strong></h4>
    <p>Asistencia y soporte en el desarrollo de innovaciones tecnológicas en <strong>el ámbito empresarial y particular.</strong></p>
   </div>
</div>
<br>
<h3 class="text-center">
<%= button_to "Agenda tu servicio aquí", new_appointment_path, class:"btn btn-primary", :method => :get %>
</h3>
