<h2 class="text-center"><strong>Nuestros Servicios</strong> </h2><br>
<div class="card-product">
  <img src="/assets/mantencion.jpg" />
  <div class="card-product-infos">
    <h2>Mantenciones</h2><br>
    <p>Entregamos servicios de mantención y revisión de equipos PC's, Notebooks, Impresoras, Redes Locales.</p>
  </div>
</div><br>

<div class="card-product">
  <img src="/assets/reparacion1.jpg" />
  <div class="card-product-infos">
    <h2>Reparaciones</h2><br>
    <p>Reparación o cambios de piezas de todas las marcas de Notebooks, Pc's, Impresoras y de cableados en casos de redes alámbricas.</p>
  </div>
</div><br>

<div class="card-product">
  <img src="/assets/mantencion.jpg" />
  <div class="card-product-infos">
    <h2>Servicio Técnico</h2><br>
    <p>Ofrecemos Servicio Técnico a <strong>PYMES</strong> y clientes particulares.</p>
  </div>
</div><br>

<div class="card-product">
  <img src="/assets/software.jpg" />
  <div class="card-product-infos">
    <h2>Software</h2><br>
    <p>Instalación, configuración de software, formateos de equipos, respaldos de información.</p>
  </div>
</div><br>

<div class="card-product">
  <img src="/assets/lan.jpg" />
  <div class="card-product-infos">
    <h2>Redes LAN</h2><br>
    <p>Diseño e instalación y configuración de redes locales <strong>LAN</strong> alámbricas e inalámbricas.</p>
  </div>
</div><br>

<h3 class="text-center">
<%= link_to "Agenda tu servicio aquí", new_appointment_path %> 
</h3>