<html lang="en">
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DrPC</title>
	</head>
<body>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.farmalatina.cl/wp-content/uploads/2020/06/ServTecnico.jpg)">
  <div class="container-fluid">
  <div class="container">
<div class="svg-wrap">
  <svg width="48" height="48" viewBox="0 0 48 48">
    <path id="arrow-left" d="M26.667 10.667q1.104 0 1.885 0.781t0.781 1.885q0 1.125-0.792 1.896l-14.104 14.104h41.563q1.104 0 1.885 0.781t0.781 1.885-0.781 1.885-1.885 0.781h-41.563l14.104 14.104q0.792 0.771 0.792 1.896 0 1.104-0.781 1.885t-1.885 0.781q-1.125 0-1.896-0.771l-18.667-18.667q-0.771-0.813-0.771-1.896t0.771-1.896l18.667-18.667q0.792-0.771 1.896-0.771z"></path>
  </svg>
  
         <h1>Reparacion de articulos tecnologicos <strong></strong> <strong></strong>!</h1>
    <p>Informacion de la empresa</p>
 
 <svg width="48" height="48" viewBox="0 0 48 48">
    <path id="arrow-right" d="M37.333 10.667q1.125 0 1.896 0.771l18.667 18.667q0.771 0.771 0.771 1.896t-0.771 1.896l-18.667 18.667q-0.771 0.771-1.896 0.771-1.146 0-1.906-0.76t-0.76-1.906q0-1.125 0.771-1.896l14.125-14.104h-41.563q-1.104 0-1.885-0.781t-0.781-1.885 0.781-1.885 1.885-0.781h41.563l-14.125-14.104q-0.771-0.771-0.771-1.896 0-1.146 0.76-1.906t1.906-0.76z"></path>
  </svg>
</div>

    <a class="btn-flat" href="#">Apply now</a>
    <a class="btn-gradient" href="#">Start now</a>
    </div>
  </div>
</div>



<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> DrPC
  </div>
</div>
</body>
</html>
