<h1>Pages#home</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(fotoprueba.jpg);">
  <div class="container">
    <h1>Hola Chiquillops <strong>los estoy mirando</strong> desde <strong>mi casa</strong>!</h1>
    <p>Avanzaré lo mas que pueda !!</p>
    <a class="btn btn-flat" href="#">aca habrá algo</a>
  </div>
</div>
