<html lang="en">
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DrPC</title>
	</head>
<body>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.farmalatina.cl/wp-content/uploads/2020/06/ServTecnico.jpg)">
  <div class="container-fluid">
  <div class="container">
<div class="svg-wrap">
  
  <h1>Reparacion de articulos tecnologicos <strong></strong> <strong></strong>!</h1>
 
</div>
    <td><%= button_to "Agendar cita", new_appointment_path, class:"btn btn-primary", :method => :get %></td>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">

  
    <a class="btn-flat" href="#">contáctanos</a>
    <a class="btn-gradient" href="#">Síguenos</a>

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>

  <div class="footer-copyright">
<i class="fas fa-heart"></i> DrPC
  </div>
</div>
</body>
</html>
