<div class="containerpy-3" >

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/banner_drpc_blue.png);">
  <div class="banner" >
    <h1>Somos Servicio Autorizado</h1>
  </div>
  <center><a class="btn bg-success" <%= link_to "Reservar una Cita", new_appointment_path %></a></center>
</div>

  <!-- code a "How it works" section -->
</br>
  <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/1.png)">
  PROCESADORES
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/2.png)">
  IMPRESORAS
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/3.png)">
  PANTALLAS
  </div>
</div>


</div>






