
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo de Plantilla #104700</title>
<meta property="og:title" content="Demo de Plantilla #104700">
<meta name="twitter:title" content="Demo de Plantilla #104700">
<meta name="og:image:alt" content="Demo de Plantilla #104700">
      <link rel="canonical" href="https://www.templatemonsterpreview.com/es/demo/104700.html">
  <meta property="og:url" content="https://www.templatemonsterpreview.com/es/demo/104700.html">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="msapplication-TileColor" content="#2196f3">
  <meta name="msapplication-TileImage" content="https://s3sf.tmimgcdn.com/mstile-144x144.png">
  <meta name="msapplication-config" content="https://s3sf.tmimgcdn.com/browserconfig.xml">
  <meta name="pinterest-logo" content="https://s3sf.tmimgcdn.com/pinterest-logo.png">
  <meta name="theme-color" content="#2196f3">
  <meta property="og:site_name" content="TemplateMonster">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="templatemonster">
  <meta name="twitter:creator" content="templatemonster">
  <meta property="og:type" content="page">
  <meta property="og:image" content="https://s.tmimgcdn.com/scr/1200x750/104700/pcrepair-plantilla-de-pagina-de-inicio-de-arranque-de-reparacion-de-computadoras_104700-original.jpg">
  <meta property="twitter:image" content="https://s.tmimgcdn.com/scr/1200x750/104700/pcrepair-plantilla-de-pagina-de-inicio-de-arranque-de-reparacion-de-computadoras_104700-original.jpg">
  <link property="image_src" href="https://s.tmimgcdn.com/scr/1200x750/104700/pcrepair-plantilla-de-pagina-de-inicio-de-arranque-de-reparacion-de-computadoras_104700-original.jpg">
  <meta property="fb:app_id" content="128293383907353">
        <!-- Google Tag Manager -->
<script src="https://connect.facebook.net/signals/config/838473489555909?v=2.9.45&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://mc.yandex.ru/metrika/tag.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://bat.bing.com/bat.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/gtm/js?id=GTM-P3B33MM&amp;t=gtm4&amp;cid=1274590405.1630935582"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="http://www.googletagmanager.com/gtag/js?id=G-FTPYEGT5LY&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-MS2BNB"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MS2BNB');</script>
<!-- End Google Tag Manager -->
    </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript>  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS2BNB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="wrap">
</header>
      <section class="content">
    <div class="frame-wrapper" id="frame-wrapper">
      <iframe class="frame" src="http://themecodersit.com/demo/pcrepair/" width="100%" height="400px" title="Vista previa de plantilla" sandbox="allow-forms allow-same-origin allow-scripts allow-top-navigation allow-popups"></iframe>          </div>
  </section>
  </div>
  <script type="application/ld+json">
{"@context": "http://schema.org","@graph": [{"@context":"http://schema.org","@type":"WebPage","name":"Demo de Plantilla #104700","url":"https://www.templatemonsterpreview.com/demo/104700.html"}]}
</script>
  <script type="text/javascript">
  window.__app__ = window.__app__ || {};
  window.__app__ = {"language":"es","apiLocale":"es","analytics":{"pageType":"Cross-page"},"js":{"cookieDomain":".templatemonster.com","liveDemoCookieDomain":".templatemonsterpreview.com","liveDemoDomain":"\/\/www.templatemonsterpreview.com\/","fontPreviewDomain":"\/\/s3f.tmimgcdn.com\/","domain":"https:\/\/www.templatemonster.com","api":{"f1":"https:\/\/www.templatemonster.com\/f1\/api","products":"https:\/\/api.templatemonster.com\/products","pages":"https:\/\/api.templatemonster.com\/pages","navigations":"https:\/\/api.templatemonster.com\/navigations","properties":"https:\/\/api.templatemonster.com\/properties","authors":"https:\/\/api.templatemonster.com\/authors","currencies":"https:\/\/api.templatemonster.com\/currencies","reviews":"https:\/\/api.templatemonster.com\/reviews","collection":"https:\/\/api.templatemonster.com\/collection","carts":"https:\/\/api.templatemonster.com\/carts","users":"https:\/\/api.templatemonster.com\/users","promos":"https:\/\/api.templatemonster.com\/promos","services":"https:\/\/api.templatemonster.com\/services","licenses":"https:\/\/api.templatemonster.com\/licenses","support":"https:\/\/api.templatemonster.com\/support","mailer":"https:\/\/api.templatemonster.com\/mailer"},"revive":{"url":"https:\/\/r.templatemonster.com\/dl\/1asyncjs.php","zoneId":14,"hash":"5dba4d01a92de7101be5c5e6e1630dfe"}}};
</script>
      <script src="//www.templatemonster.com/assets/js/commons-d4487eeac3ff0b1abaca.js" async="async"></script>
<script src="//www.templatemonster.com/assets/js/demo-821b5c1b4d4351fb0f26.js" async="async"></script>
<script>window.addEventListener('load', function() {
window.dataLayer = window.dataLayer || []; window.dataLayer.push({"pageType":"Cross-page","portalName":"All","portalContent":"All","categoryName":"Other"});
});
window.addEventListener('load', function() {
  window.dataLayer = window.dataLayer || []; window.dataLayer.push({"event":"detailView","ecommerce":{"detail":{"products":[{"name":"Landing page template","id":104700,"price":0.16,"brand":"para P\u00e1gina de Aterrizaje","category":"computers templates","variant":"premium"}]}}});window.dataLayer.push({"event":"detailViewNew","productDetailView":{"name":"Pcrepair - Plantilla de p\u00e1gina de inicio de arranque de reparaci\u00f3n de computadoras","id":104700,"price":0.16,"brand":"para P\u00e1gina de Aterrizaje","category":"computers templates","variant":"premium","imageurl":"https:\/\/s.tmimgcdn.com\/scr\/800x500\/104700\/pcrepair-plantilla-de-pagina-de-inicio-de-arranque-de-reparacion-de-computadoras_104700-original.jpg","similars":[]}});
});</script>  
  
<div style="display: none; visibility: hidden;"><script>var head=document.getElementsByTagName("head")[0],script=document.createElement("script");script.charset="UTF-8";script.src="https://web.webpushs.com/js/push/5ab41f034f43c29d4e5b5082a08f9be1_1.js";script.async=!0;head.appendChild(script);</script></div><script type="text/javascript" id="">(function(){function h(b,a,d){b=b+"\x3d"+a+"; path\x3d/; domain\x3d."+location.hostname.replace(/^www\./i,"");"undefined"!==typeof d&&(a=new Date,a.setTime(a.getTime()+d),b+="; expires\x3d"+a.toUTCString());document.cookie=b}function k(b){for(var a=document.cookie.split(";"),d,f=0;f<a.length;f++){var g=a[f].trim();0===g.indexOf(b+"\x3d")&&(d=g.substring((b+"\x3d").length,g.length))}return d}var e=k("aff"),c=new URLSearchParams(window.location.search);(c=c.get("aff"))||(c="TM");e||(e="TM"===c.toUpperCase()?
31536E8:5184E6,h("aff",c,e));k("ref")||(e=btoa(document.referrer?document.referrer:window.location.href),h("ref",e));c&&"TM"!==c.toUpperCase()&&(window.dataLayer=window.dataLayer||[],window.dataLayer.push({event:"trackAffiliate"}))})();</script><script type="text/javascript" id="">function getIP(a){dataLayer.push({event:"ipEvent",ipAddress:a.ip})};</script>

<script type="text/javascript" id="" src="https://api.ipify.org?format=jsonp&amp;callback=getIP"></script>
<script type="text/javascript" id="">(function wait(){if("undefined"!==typeof fbq&&"2.9"<fbq.version){var a="en"==google_tag_manager["GTM-MS2BNB"].macro(36)?"":"_"+("br"==google_tag_manager["GTM-MS2BNB"].macro(37)?"pt":google_tag_manager["GTM-MS2BNB"].macro(38));-1==document.location.href.search(".appspot.")&&fbq("track","ViewContent",{content_ids:[google_tag_manager["GTM-MS2BNB"].macro(39)+a],content_type:"product",product_group:google_tag_manager["GTM-MS2BNB"].macro(40),product_category:google_tag_manager["GTM-MS2BNB"].macro(41),value:google_tag_manager["GTM-MS2BNB"].macro(43),currency:"USD"})}else setTimeout(wait,3)})();</script><script type="text/javascript" id="">var d=new Date;d.setTime(d.getTime()+31536E6);var expires="expires\x3d"+d.toGMTString(),event=google_tag_manager["GTM-MS2BNB"].macro(109);document.cookie="ga"+event+"\x3d1; "+expires+"; domain\x3d.templatemonster.com; path\x3d/";</script>
<script type="text/javascript" id="">function runChat(){window.__lc=window.__lc||{};window.__lc.license=9531830;(function(e,f,c){function d(a){return b._h?b._h.apply(null,a):b._q.push(a)}var b={_q:[],_h:null,_v:"2.0",on:function(){d(["on",c.call(arguments)])},once:function(){d(["once",c.call(arguments)])},off:function(){d(["off",c.call(arguments)])},get:function(){if(!b._h)throw Error("[LiveChatWidget] You can't use getters before load.");return d(["get",c.call(arguments)])},call:function(){d(["call",c.call(arguments)])},init:function(){var a=
f.createElement("script");a.async=!0;a.type="text/javascript";a.src="https://cdn.livechatinc.com/tracking.js";f.head.appendChild(a)}};!e.__lc.asyncInit&&b.init();e.LiveChatWidget=e.LiveChatWidget||b})(window,document,[].slice)}setTimeout(function(){runChat()},4E3);</script>
<noscript><a href="https://www.livechatinc.com/chat-with/9531830/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>


<script type="text/javascript" id="">function runYM(){(function(a,e,f,g,b,c,d){a[b]=a[b]||function(){(a[b].a=a[b].a||[]).push(arguments)};a[b].l=1*new Date;c=e.createElement(f);d=e.getElementsByTagName(f)[0];c.async=1;c.src=g;d.parentNode.insertBefore(c,d)})(window,document,"script","https://mc.yandex.ru/metrika/tag.js","ym");ym(32938414,"init",{id:32938414,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0,webvisor:!1,ecommerce:"raisaLayer"})}setTimeout(function(){runYM()},google_tag_manager["GTM-MS2BNB"].macro(114));</script>

<noscript><div><img src="https://mc.yandex.ru/watch/32938414" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon572803757442"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon158972713266" width="0" height="0" alt="" src="https://bat.bing.com/action/0?ti=4076283&amp;tm=gtm002&amp;Ver=2&amp;mid=4a90e1c0-6618-4780-b429-d4e90e699188&amp;sid=e65e35400f1711ecacb7c7763d0d7942&amp;vid=e65eb6500f1711ecbb65dd2ed66db52a&amp;vids=0&amp;pi=1200101525&amp;lg=es-419&amp;sw=1440&amp;sh=900&amp;sc=24&amp;tl=Demo%20de%20Plantilla%20%23104700&amp;p=http%3A%2F%2Fwww.templatemonsterpreview.com%2Fes%2Fdemo%2F104700.html%3F_gl%3D1*1tfnkt1*_ga*MTE4ODIwOTg2OC4xNjMwMzQ1MjM4*_ga_FTPYEGT5LY*MTYzMDM0NTIzNy4xLjEuMTYzMDM0NTI5My40%26_ga%3D2.51521193.1029880766.1630345238-1188209868.1630345238&amp;r=&amp;lt=4121&amp;evt=pageLoad&amp;msclkid=N&amp;sv=1&amp;rn=25747"></div>
<script type="text/javascript" id="">function runFB(){!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","838473489555909");fbq("track","PageView")}setTimeout(function(){runFB()},4E3);</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=838473489555909&amp;ev=PageView&amp;noscript=1">
</noscript>


<script type="text/javascript" id="">var seconds=15;function explode(){str="";if(15==seconds||30==seconds||45==seconds)str="Interested("+seconds+"s)";else if(60==seconds||90==seconds||120==seconds)str="Engaged("+seconds+"s)";else if(180==seconds||300==seconds||600==seconds)str="Immersed("+seconds+"s)";""!=str&&fbq("trackCustom",str);seconds+=15}setInterval(explode,15E3);</script>
<div id="chat-widget-container" style="opacity: 1; visibility: visible; z-index: 2147483639; position: fixed; bottom: 0px; width: 281px; height: 53px; max-width: 100%; max-height: calc(100% - 0px); min-height: 0px; min-width: 0px; background-color: transparent; border: 0px; overflow: hidden; right: 0px; transition: none 0s ease 0s !important;"><iframe allow="autoplay;" src="https://secure.livechatinc.com/customer/action/open_chat?license_id=9531830&amp;group=7&amp;embedded=1&amp;widget_version=3&amp;unique_groups=0" allowtransparency="true" id="chat-widget" name="chat-widget" title="LiveChat chat widget" scrolling="no" style="width: 100%; height: 100%; min-height: 0px; min-width: 0px; margin: 0px; padding: 0px; background-image: none; background-position: 0% 0%; background-size: initial; background-attachment: scroll; background-origin: initial; background-clip: initial; background-color: rgba(0, 0, 0, 0); border-width: 0px; float: none; position: absolute; inset: 0px; transition: none 0s ease 0s !important;"></iframe></div></body></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo de Plantilla #104700</title>
<meta property="og:title" content="Demo de Plantilla #104700">
<meta name="twitter:title" content="Demo de Plantilla #104700">
<meta name="og:image:alt" content="Demo de Plantilla #104700">
      <link rel="canonical" href="https://www.templatemonsterpreview.com/es/demo/104700.html">
  <meta property="og:url" content="https://www.templatemonsterpreview.com/es/demo/104700.html">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta name="msapplication-TileColor" content="#2196f3">
  <meta name="msapplication-TileImage" content="https://s3sf.tmimgcdn.com/mstile-144x144.png">
  <meta name="msapplication-config" content="https://s3sf.tmimgcdn.com/browserconfig.xml">
  <meta name="pinterest-logo" content="https://s3sf.tmimgcdn.com/pinterest-logo.png">
  <meta name="theme-color" content="#2196f3">
  <meta property="og:site_name" content="TemplateMonster">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="templatemonster">
  <meta name="twitter:creator" content="templatemonster">
  <meta property="og:type" content="page">
  <meta property="og:image" content="https://s.tmimgcdn.com/scr/1200x750/104700/pcrepair-plantilla-de-pagina-de-inicio-de-arranque-de-reparacion-de-computadoras_104700-original.jpg">
  <meta property="twitter:image" content="https://s.tmimgcdn.com/scr/1200x750/104700/pcrepair-plantilla-de-pagina-de-inicio-de-arranque-de-reparacion-de-computadoras_104700-original.jpg">
  <link property="image_src" href="https://s.tmimgcdn.com/scr/1200x750/104700/pcrepair-plantilla-de-pagina-de-inicio-de-arranque-de-reparacion-de-computadoras_104700-original.jpg">
  <meta property="fb:app_id" content="128293383907353">
        <!-- Google Tag Manager -->
<script src="https://connect.facebook.net/signals/config/838473489555909?v=2.9.45&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://mc.yandex.ru/metrika/tag.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://bat.bing.com/bat.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/ec.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/gtm/js?id=GTM-P3B33MM&amp;t=gtm4&amp;cid=1274590405.1630935582"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="http://www.googletagmanager.com/gtag/js?id=G-FTPYEGT5LY&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-MS2BNB"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MS2BNB');</script>
<!-- End Google Tag Manager -->
    <link href="//www.templatemonster.com/assets/css/demo-9464677509cfd505cf63.css" rel="stylesheet">  <script charset="UTF-8" src="https://web.webpushs.com/js/push/5ab41f034f43c29d4e5b5082a08f9be1_1.js" async=""></script><script src="https://bat.bing.com/p/action/4076283.js" type="text/javascript" async=""></script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/990429972/?random=1631019601636&amp;cv=9&amp;fst=1631019601636&amp;num=1&amp;value=16&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=900&amp;u_w=1440&amp;u_ah=797&amp;u_aw=1440&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg910&amp;sendb=1&amp;ig=1&amp;data=dynx_itemid%3D104700%3Bdynx_pagetype%3Dhome%3Bdynx_totalvalue%3D16%3Bevent%3Dview_item%3Bgoogle_business_vertical%3Dretail%3Bid%3D104700&amp;frm=0&amp;url=http%3A%2F%2Fwww.templatemonsterpreview.com%2Fes%2Fdemo%2F104700.html%3F_gl%3D1*1tfnkt1*_ga*MTE4ODIwOTg2OC4xNjMwMzQ1MjM4*_ga_FTPYEGT5LY*MTYzMDM0NTIzNy4xLjEuMTYzMDM0NTI5My40%26_ga%3D2.51521193.1029880766.1630345238-1188209868.1630345238&amp;tiba=Demo%20de%20Plantilla%20%23104700&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><script src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/990429972/?random=1631019601642&amp;cv=9&amp;fst=1631019601642&amp;num=1&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=900&amp;u_w=1440&amp;u_ah=797&amp;u_aw=1440&amp;u_cd=24&amp;u_his=2&amp;u_tz=-180&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2wg910&amp;sendb=1&amp;ig=1&amp;data=dynx_pagetype%3Dhome&amp;frm=0&amp;url=http%3A%2F%2Fwww.templatemonsterpreview.com%2Fes%2Fdemo%2F104700.html%3F_gl%3D1*1tfnkt1*_ga*MTE4ODIwOTg2OC4xNjMwMzQ1MjM4*_ga_FTPYEGT5LY*MTYzMDM0NTIzNy4xLjEuMTYzMDM0NTI5My40%26_ga%3D2.51521193.1029880766.1630345238-1188209868.1630345238&amp;tiba=Demo%20de%20Plantilla%20%23104700&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4"></script><script async="" type="text/javascript" src="https://cdn.livechatinc.com/tracking.js"></script></head>
<section class="slider-one" data-scroll-index="0">
         <div class="slider-one__carousel owl-carousel owl-theme owl-loaded owl-drag">
            
            <!-- /.item -->
            
            <!-- /.item -->
            
            <!-- /.item --> 
         <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1558px, 0px, 0px); transition: all 0s ease 0s; width: 5453px;"><div class="owl-item cloned" style="width: 779px;"><div class="item slider-one__slider-2" style="background-image: url(images/slider-2.jpg);">
               <div class="container">
                  <h2 class="slider-one__title">"Luchito te lo" <br>
                     "arregla." 
                  </h2>
                  <!-- /.slider-one__title -->
                  <p class="slider-one__text">Nos pondremos en contacto contigo</p>
                  <a href="#" class="default-btn slider-one__text">Contáctanos <i class="fas fa-long-arrow-alt-right"></i> </a> 
                  <!-- /.slider-one__text --> 
               </div>
               <!-- /.container --> 
            </div></div><div class="owl-item cloned animated owl-animated-out slideOutDown" style="width: 779px; left: 779px;"><div class="item slider-one__slider-3" style="background-image: url(images/slider-3.jpg);">
               <div class="container">
                  <h2 class="slider-one__title">Luchito te lo <br>
                     arregla. 
                  </h2>
                  <!-- /.slider-one__title -->
                  <p class="slider-one__text">Nos pondremos en contacto contigo</p>
                  <a href="#" class="default-btn slider-one__text">Contáctanos <i class="fas fa-long-arrow-alt-right"></i> </a> 
                  <!-- /.slider-one__text --> 
               </div>
               <!-- /.container --> 
            </div></div><div class="owl-item active" style="width: 779px;"><div class="item slider-one__slider-1" style="background-image: url(images/slider-1.jpg);">
               <div class="container">
                  <h2 class="slider-one__title">Luchito te lo <br>
                     arregla. 
                  </h2>
                  <!-- /.slider-one__title -->
                  <p class="slider-one__text">Nos pondremos en contacto contigo</p>
                  <a href="#" class="default-btn slider-one__text">Contáctanos <i class="fas fa-long-arrow-alt-right"></i> </a> 
                  <!-- /.slider-one__text --> 
               </div>
               <!-- /.container --> 
            </div></div><div class="owl-item animated owl-animated-out slideOutDown" style="width: 779px; left: 779px;"><div class="item slider-one__slider-2" style="background-image: url(images/slider-2.jpg);">
               <div class="container">
                  <h2 class="slider-one__title">Luchito te lo <br>
                     arregla. 
                  </h2>
                  <!-- /.slider-one__title -->
                  <p class="slider-one__text">Nos pondremos en contacto contigo</p>
                  <a href="#" class="default-btn slider-one__text">Contáctanos <i class="fas fa-long-arrow-alt-right"></i> </a> 
                  <!-- /.slider-one__text --> 
               </div>
               <!-- /.container --> 
            </div></div><div class="owl-item" style="width: 779px;"><div class="item slider-one__slider-3" style="background-image: url(images/slider-3.jpg);">
               <div class="container">
                  <h2 class="slider-one__title">Luchito te lo <br>
                     arregla. 
                  </h2>
                  <!-- /.slider-one__title -->
                  <p class="slider-one__text">Nos pondremos en contacto contigo</p>
                  <a href="#" class="default-btn slider-one__text">Contáctanos <i class="fas fa-long-arrow-alt-right"></i> </a> 
                  <!-- /.slider-one__text --> 
               </div>
               <!-- /.container --> 
            </div></div><div class="owl-item animated owl-animated-out slideOutDown cloned" style="width: 779px; left: 865px;"><div class="item slider-one__slider-1" style="background-image: url(images/slider-1.jpg);">
               <div class="container">
                  <h2 class="slider-one__title">Luchito te lo <br>
                     arregla. 
                  </h2>
                  <!-- /.slider-one__title -->
                  <p class="slider-one__text">Nos pondremos en contacto contigo</p>
                  <a href="#" class="default-btn slider-one__text">Contáctanos <i class="fas fa-long-arrow-alt-right"></i> </a> 
                  <!-- /.slider-one__text --> 
               </div>
               <!-- /.container --> 
            </div></div><div class="owl-item cloned" style="width: 779px;"><div class="item slider-one__slider-2" style="background-image: url(images/slider-2.jpg);">
               <div class="container">
                  <h2 class="slider-one__title">Luchito te lo <br>
                     arregla. 
                  </h2>
                  <!-- /.slider-one__title -->
                  <p class="slider-one__text">Nos pondremos en contacto contigo</p>
                  <a href="#" class="default-btn slider-one__text">Contáctanos <i class="fas fa-long-arrow-alt-right"></i> </a> 
                  <!-- /.slider-one__text --> 
               </div>
               <!-- /.container --> 
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
      </section>

<%# <html lang="en">
	<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DrPC</title>
	</head>
<body>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.farmalatina.cl/wp-content/uploads/2020/06/ServTecnico.jpg)">
  <div class="container-fluid">
  <div class="container">
<div class="svg-wrap">
  
  <h1>Reparacion de articulos tecnologicos <strong></strong> <strong></strong>!</h1>
 
</div>
    <td><%= button_to "Agendar cita", new_appointment_path, class:"btn btn-primary", :method => :get %></td>
    <%# </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">

  
    <a class="btn-flat" href="#">contáctanos</a>
    <a class="btn-gradient" href="#">Síguenos</a>

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>

  </div>

  <div class="footer-copyright">
<i class="fas fa-heart"></i> DrPC
  </div>
</div>
</body>
<%# </html> %> 
