<div class="container-lg" >
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1632994036/drpc/banner_drpc_blue_qrrcdb.png)">
  <div class="banner">
    <h1>¿Necesita ayuda ahora?</h1>
    <p>Nuestro equipo está listo para atenderlo lo antes posible.</p>
  </div>
  <center><a class="btn btn-primary btn-lg" <%= link_to "Reservar una Cita", new_appointment_path %> </a></center>
</div>
</br>
  <div class="cards">
    <div>
      <a href="tutorials.html">
        <div  class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1632994035/drpc/3_c8dflg.png)">
         TUTORIALES
        </div>
      </a>
    </div>
    <div>
      <a href="description.html">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1632994035/drpc/2_uekfus.png)">
          SERVICIOS
        </div>
      </a>
    </div>
    <div>
      <a href="description.html">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/gonzaloarandav/image/upload/v1632994035/drpc/1_csbsis.png)">
         OTROS SITIOS DE INTERES
        </div>
      </a>
    </div>
    <div>

    </div>
</div>

