
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.farmalatina.cl/wp-content/uploads/2020/06/ServTecnico.jpg)">
    <h2>Tutoriales</h2>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.iia.cl/img/banners/venta-arriendo-hardware_1.jpg)">
    <h2>Agenda tu visita</h2>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.iia.cl/img/banners/hardware-repair_1.jpg)">
    <h2>Contactanos
    </h2>
  </div>
</div>

