<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                  <a href="#">
                     <article class="service-block-2 text-center">
                        <figure>
                           <img src="images/service_4.jpg" alt="service">
                        </figure>
                        <h3>
                           Display Repair
                           <br>
                           <span>Starting @ $29</span>
                        </h3>
                     </article>
                  </a>
               </div>
