<div class="container">

    <h2 class="text-center">CUADROS DE ABAJITO</h2>

  <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/FOTO1.jpg">
  Notebooks
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/FOTO2.jpg)">
    Pc de escritorio
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/FOTO3.jpg)">
    Otros dispositivos
  </div>
</div>
</div>
