
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                  <a href="#">
                     <article class="service-block-2 text-center">
                        <figure>
                           <img src="images/service_4.jpg" alt="service">
                        </figure>
                        <h3>
                           Display Repair
                           <br>
                           <span>Starting @ $29</span>
                        </h3>
                     </article>
                  </a>
               </div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.farmalatina.cl/wp-content/uploads/2020/06/ServTecnico.jpg)">
    <h2>Tutoriales</h2>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.iia.cl/img/banners/venta-arriendo-hardware_1.jpg)">
    <h2>Agenda tu visita</h2>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.iia.cl/img/banners/hardware-repair_1.jpg)">
    <h2>Contactanos
    </h2>
  </div>
</div>

<%= link_to "Volver a Home", root_path, class:"btn btn-primary",:method => :get%>
<%= link_to "Agenda tu cita", new_appointment_path, class:"btn btn-primary",:method => :get%>
