
<h1><strong>Tutoriales</strong></h1>
<br>
<div class="container">

<div class="card-group">
  <div class="card" style="width: 29rem;">
    <iframe width="370" height="220" src="https://www.youtube.com/embed/_D7GKnyvdRI" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Como formatear tu disco duro por completo con Windows y CMD</h5>
      <p class="card-text">La forma de formatear un disco duro varía según lo que quieras hacer después. En este tutorial te explicamos cómo borrarlo por completo para dejarlo como nuevo.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <br>
  <div class="card" style="width: 29rem;">
    <iframe width="370" height="220" src="https://www.youtube.com/embed/lJfbvuOZHqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">¿Cómo acelerar y optimizar Windows 10 al maximo? (10 trucos)</h5>
      <p class="card-text">En este vídeo te enseñaré algunos consejos, trucos o recomendaciones para poder Acelerar y Optimizar tu Windows 10 al Máximo, de esta forma podremos hacer que nuestra computadora vaya mucho más rápida y corra mucho más fluida.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <br>
    <div class="card" style="width: 29rem;">
    <iframe width="370" height="220" src="https://www.youtube.com/embed/_D7GKnyvdRI" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Como formatear tu disco duro por completo con Windows y CMD</h5>
      <p class="card-text">La forma de formatear un disco duro varía según lo que quieras hacer después. En este tutorial te explicamos cómo borrarlo por completo para dejarlo como nuevo.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <br>
  
<div class="card-group">
  <div class="card" style="width: 29rem;">
    <iframe width="370" height="220" src="https://www.youtube.com/embed/_D7GKnyvdRI" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Como formatear tu disco duro por completo con Windows y CMD</h5>
      <p class="card-text">La forma de formatear un disco duro varía según lo que quieras hacer después. En este tutorial te explicamos cómo borrarlo por completo para dejarlo como nuevo.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <br>
  <div class="card" style="width: 29rem;">
    <iframe width="370" height="220" src="https://www.youtube.com/embed/_D7GKnyvdRI" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Como formatear tu disco duro por completo con Windows y CMD</h5>
      <p class="card-text">La forma de formatear un disco duro varía según lo que quieras hacer después. En este tutorial te explicamos cómo borrarlo por completo para dejarlo como nuevo.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <br>
    <div class="card" style="width: 29rem;">
    <iframe width="370" height="220" src="https://www.youtube.com/embed/_D7GKnyvdRI" title="YouTube video player" 
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Como formatear tu disco duro por completo con Windows y CMD</h5>
      <p class="card-text">La forma de formatear un disco duro varía según lo que quieras hacer después. En este tutorial te explicamos cómo borrarlo por completo para dejarlo como nuevo.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <br>

</div>




