
<h1><strong>Tutoriales</strong></h1>
<br>

<div class="container">
<div div class="card">
<h2 class="title">Como formatear tu disco duro por completo con Windows y CMD</h2>


<iframe width="460" height="265" src="https://www.youtube.com/embed/_D7GKnyvdRI" title="YouTube video player" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>La forma de formatear un disco duro varía según lo que quieras hacer después. En este tutorial te explicamos cómo borrarlo por completo para dejarlo como nuevo.</p>
  </div>
</div>

