.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 50px;
}

.nav.navbar {
	width: 100%;
	top: 0;
	z-index: 999;
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: #ffffff;
	box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

nav.navbar .navbar-toggler {
	border: 0;
}

nav.navbar .nav-item {
	font-size: 14px;
	font-weight: 600;
	padding-right: 13px;
	padding-left: 13px;
	color: #000;
	text-transform: capitalize;
}

nav.navbar .nav-item:first-child {
	padding-left: 0;
}

nav.navbar .nav-item:last-child {
	padding-right: 0;
}

nav.navbar .nav-item .nav-link {
	color: #000;
	position: relative;
	text-decoration: none;
	padding: 0;
	font-weight: 600;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}

nav.navbar .nav-item .nav-link:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -3px;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.nav.navbar .nav-item .nav-link.active:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

nav.fixed-top {
	position: fixed;
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: #ffffff;
	box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.navbar-brand.logo h1 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
	margin: 0
}

.nav.fixed-top .navbar-brand.logo h1 {
	color: #333
}

.nav.fixed-top .navbar-brand.logo h1 span {
	color: #333
}

.navbar-brand.logo h1 span {
	background: #19d9b4;
	width: 42px;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
	border-radius: 5px;
}

nav.fixed-top .logo {
	color: #fff;
}

nav.fixed-top .nav-item .nav-link {
	color: #333 !important;
}

nav.fixed-top .logo:focus,
nav.fixed-top .logo:hover {
	color: #19d9b4;
}

nav.fixed-top .navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.fixed-top .nav-item {
	color: #000;
}

nav.navbar .nav-item .nav-link:before {
	background-color: #19d9b4;
}
