<div class="container">
    <p>
    <%= render "appointmentform", appointment: @appointment %>
      <%= link_to "Eliminar cita", appointment_path(@appointment), method: :delete, data: { confirm: "¿eliminar cita?" } %>
    </p>
</div>
