<div class="appointment">
  <%= @appointment.description %>
  <%= @appointment.status %>
  <%= link_to "Volver citas", appointments_path  %>
<%= link_to "Borrar", appointment_path(@appointment), method: :delete %>

</div>
